*{
	margin: 0;
	padding: 0;
}


.head{
	width: 100%;
	height: auto;
	background: #000;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.title{
	width: 25%;
	margin-left: 8.3%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	
}
.title i{
	color: white;
	background: gray;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	float: left;
}
.title div{
	color: white;
	float: left;
	margin-left: 15px;
	width: 75%;
}
.title div > h3{
	margin-bottom:0px;
}
.title div >p{
	margin-top: 0px;
}

.title:hover{
	background: rgba(77,77,77,0.8);
	cursor: pointer;
}

nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 5px;
	width: 100%;
	height: auto;
	margin-bottom: 5px;
}
nav >ul {
	list-style-type: none;
}

ul > li{
	display: inline-block;
	padding: 5px;
	margin: 5px;
}
ul > li > a:hover{
	color: red;
}
ul > li >a{
	text-decoration: none;
	color: #000;
}
.about{
	width: 100%;
	height: 500px;
	background-image: url("../img/back.png");
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	
}
.content{
	overflow: hidden;
	width: 50%;
	margin: 3% 0 0 8%;
	font-family: sans-serif;

}

.content a{
	background: #000;
	color: white;
	text-decoration: none;
	padding: 10px;
	border-radius: 5px;
}

.flex{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.flex1{
	width: 26%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	color: white;
	background: rgb(50,50,50);
	position: relative;
	top: -45px;
	padding: 5px;
}
.flex1 i{
	height: 50px;
    width: 60px;
    background: rgb(50,50,50);
    border-radius: 50%;
    box-shadow: 5px 3px 1px 1px rgb(255 255 255);
    padding: 5px;
    text-align: center;
    padding-top: 15px;
    position: relative;
    top: -25px;

}
.grid{
  width: 90%;
  height: auto;
  display: grid;
  margin: 55px 5% 30px 5%;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  grid-gap: 8% 8%;
  
}
.info{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
	background: rgba(10, 10, 10, 0.8);
	justify-content: center;

}
.info .form{
	width: 55%;
	margin-top: 5%;
	margin-bottom: 60px;
}
.form label{
	color: #fff;
}
.form #name{
	width: 90%;
	border: none;
	border-bottom: 1px solid gray;
	background: rgba(10, 10, 10, 0);
	color: #fff;
	
}
.form input{
	width: 44%;
	border: none;
	border-bottom: 1px solid gray;
	background: rgba(10, 10, 10, 0);
	color: #fff;
}
.form textarea{
	width: 90%;
	border: none;
	border-bottom: 1px solid gray;
	background: rgba(10, 10, 10, 0);
	color: #fff;
}
.form button{
	color: #000;
	background: #fff;
	width: 75px;
	height: 35px;
	border: none;
	border-radius: 15px;
}
.info .contact{
	width: 35%;
	margin-top: 5%;
	margin-bottom: 60px;

}
.contact h2 , p{
	color: white;
}
.footer{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-around;
	background: rgb(150, 150, 150);
}





@media (max-width: 925px){
	.title div{
		font-size: 12px;
	}
	.title div > h3{
		line-height: 15px;
	}
	ul > li >a{
		font-size: 10px;
	}
	 .about .content{
	 	width: 100%;
	 }
	 .flex{
	 	flex-direction: column;
	 }
	 .flex .flex1{
	 	width: 60%;
	 	margin-bottom: 30px;
	 }
	 .grid{
	 	display: flex;
	 	flex-direction: column;


	 }
	 .info{
	 	flex-direction: column;

	 }
	 .contact , .form{
	 	margin-left: 15%;
	 }
	 .footer{
	 	flex-direction: column;
	 	justify-content: center;

	 }
	 .footer div{
	 	margin-left: 15%;
	 }
	 

	 
	 
	 
	

}
